<h1>Editing pet history</h1>

<%= render "form", pet_history: @pet_history %>

<br>

<div>
  <%= link_to "Show this pet history", @pet_history %> |
  <%= link_to "Back to pet histories", pet_histories_path %>
</div>
